.accordion{
    border: 2px solid black;
    width: 800px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}
.accordion-item{
    border: 2px solid black;
    margin: 10px 0;
    border-radius: 10px;
}

.accordion-content{
    display: none;
    padding: 10px;
    background: aquamarine;
}

#carousel{
    width: 800px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

img{
    display: block;
    width: 50%;
    height: 250px;
    margin: 0 auto;
}
